{% extends 'base.html' %}

{% block title %}Chyba 404 / čarabaňa.cz{% endblock title %}

{% block article %}{% endblock article %}

{% block columns %}

    <!-- COLUMNS begin ============================================= --> 

    <p class="tags">&nbsp;</p>

    <div>
        <a class="errorcolumn" href="/">
        </a>
        <a class="column" href="/">
          <h2>Bylo tu, není tu...</h2>
          <p>Omlouváme se, tato stránka neexistuje. Zkuste nějakou jinou.</p>
        </a>
    </div>

    <!-- COLUMNS end =============================================== --> 

{% endblock columns %}

