{% extends 'base.html' %}

{% block title %}Chyba 500 / čarabaňa.cz{% endblock title %}

{% block article %}{% endblock article %}

{% block columns %}

    <!-- COLUMNS begin ============================================= --> 

    <p class="tags">&nbsp;</p>

    <div>
        <a class="errorcolumn" href="/">
        </a>
        <a class="column" href="/">
          <h2>Sebrala nám voda mlejn...</h2>
          <p>Omlouváme se, stránka je momentálně nedostupná. Adminovi už jsme poslali výhružný dopis.</p>
        </a>
    </div>

    <!-- COLUMNS end =============================================== --> 

{% endblock columns %}

