{% extends 'base.html' %}
{% load humanize %}
{% load truncate_paragraph %}
{% load tag_list %}

{% block title %}{% if article %}{{ article.title|safe }} / {% endif %}čarabaňa.cz{% endblock title %}

{% block tab %}
    {% if is_draft %}<span class="separator"></span> <a href="/admin/blog/article/{{ article.id }}">DRAFT</a>{% endif %}
{% endblock tab %}

{% block article %}
    <div class="main wide">

      <!-- MAIN CONTENT begin ====================================== --> 

      {% if article %}

          <h2>{{ article.title|safe }}</h2>
          <div class="date">{{ article.date_published|date:"DATE_FORMAT" }}&nbsp;&nbsp;/&nbsp; <span class="tag"></span>&nbsp;{{ article.tags|tag_list }}</div>
          {{ article.perex_html|safe }}
          {{ article.body_html|safe }}
      {% else %}
          <p>&nbsp;</p>
          <h2>Béé, nic tady není!</h2>
          <div class="date">MRKNĚTE NA <a href="/">HLAVNÍ STRÁNKU</a></div>
          <p>&nbsp;</p>
      {% endif %}

      <!-- MAIN CONTENT end ======================================== --> 

    </div>
{% endblock article %}

{% block columns %}

    {% if articles %}
    <hr/>

    <p class="tags">/&nbsp;<span class="tag"></span>&nbsp;{% if is_similar %}Podobné články{% else %}Další články{% endif %} /</p>

    <!-- COLUMNS begin ============================================= --> 

    {% for a in articles %}
    <a class="column" href="{{ a.get_absolute_url }}">
      <h2>{{ a.title|safe }}</h2>
        {% if a.drawing %}<img src="{{ a.drawing_url }}" title="{{ a.title|safe }}" />{% endif %}
        {{ a.perex_html|truncate_paragraph|safe }}
    </a>
    {% endfor %}

    <!-- COLUMNS end =============================================== --> 

    {% endif %}
{% endblock columns %}


{% block comments %}

    <hr/>

    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'carabana';
        var disqus_identifier = '{{ article.get_absolute_url }}';

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        
{% endblock comments %}


